div {
    margin-left: 300px;
    margin-top: 20px;
    

}

.dnm{
    margin-top: 20px;
    
}

.sonuc{
    margin-left: 300px;
}
body{
    
    font-family: 'Poppins', sans-serif;
}

.buttons{
    margin-left: 0px;
    font-size: xx-large;
}